<h2>Borr.ow</h2>

<h4>Search for a Book</h4>
<form action="/view/items/searchresult" method="get">
<input name="name"/>
<select>
  <option value="name">Title</option>
  <option value="Author">Author</option>

</select>
<button id="submit" type="submit">Search by Title</button>
</form>
<br />

<h5>All Books:</h5>

<a href="/views/items/category">Search all </a>


