<h2>Borr.ow</h2>


<form action="/view/items/searchresult" method="get">
<input name="name"/>
<button id="submit" type="submit">Search for Something</button>
</form>


<h5>All Books:</h5>

<a href="/views/items/category">Search all </a>




