<form action="/view/items/searchresult" method="get">
<input name="name"/>
<button id="submit" type="submit">Search for Something</button>
</form>


<h5>Search by Category:</h5>

<a href="/views/items/category">View by category </a>




